.texto__tamano {
  margin-top: 2px;
  padding: 24px;
  text-align: center;
  font-size: 18px; }

.neon {
  text-align: center;
  color: #02f8f8;
  font-size: 34px; }

.parrafo .parrafo__encabezado {
  text-align: center; }

.parrafo .parrafo__tamano {
  font-size: 18px; }

/*GALERIA BOOTSTRAP*/
.gallery-block__titulo {
  text-align: center;
  font-size: 27px;
  font-size: 37px;
  color: #00ffdd; }

.gallery-block {
  padding-bottom: 60px;
  padding-top: 60px; }
  .gallery-block .gallery-block__div2 {
    margin-bottom: 50px;
    text-align: center; }
    .gallery-block .gallery-block__div2 .h2 {
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase; }

.gallery-block .cards-gallery a {
  color: #212529; }

.gallery-block .cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px rgba(194, 235, 48, 0.15);
  transition: 0.4s easy; }
  .gallery-block .cards-gallery .card body {
    text-align: center; }
    .gallery-block .cards-gallery .card body p {
      font-size: 15px; }
  .gallery-block .cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); }

.gallery-block .cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; }

.gallery-block.cards-gallery a:hover {
  text-decoration: none; }

@media (min-width: 576px) {
  .gallery-block .transform-on-hover:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0px 10px 10px rgba(238, 42, 42, 0.15) !important; } }

div h6 {
  text-align: center; }

/*FOOTER*/
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #314947; }

.main-content {
  display: flex; }
  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px; }

.box h2 {
  font-size: 23px;
  color: #b2b4b4;
  text-align: center; }

.box .content {
  margin: 20px 0 0 0;
  position: relative; }

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #00ffff; }

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #02f8f8;
  top: -10px; }

.left .content p {
  text-align: justify;
  color: #dfdfdd; }

.left .content .social {
  margin: 20px 0 0 0; }
  .left .content .social a {
    padding: 0 2px; }
    .left .content .social a span {
      height: 40px;
      width: 40px;
      background: #d8d5d5;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      border-radius: 5px;
      transition: 0.3s;
      justify-content: center; }
    .left .content .social a span:hover {
      background: #01ffff; }

.center .content .fas {
  font-size: 1.4375rem;
  background: #dfdddd;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer; }
  .center .content .fas :hover {
    background: #858181; }

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #b6b6b6; }

.center .content .phone {
  margin: 15px 0; }

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #c4c2c2; }

.right form .msg {
  margin-top: 10px; }

.right form .btn {
  margin-top: 10px; }

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #c7c7c7;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s; }

.right form .btn button:hover {
  background: #00ffdd; }

.right form input, .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #eee9e9;
  padding-left: 10px;
  border: 1px solid #0cffff; }

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db; }

.right form input {
  height: 35px; }

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #141313; }
  .bottom center span {
    color: #949090; }
  .bottom center a {
    color: #ffffff;
    text-decoration: none; }
  .bottom center a:hover {
    text-decoration: underline; }

@media screen and (max-width: 900px) {
  footer {
    position: inherit;
    bottom: 0px; }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column; }
    .main-content .box {
      margin: 5px 0; } }

/*CAROUSEL*/
div p {
  text-align: center;
  padding: 17px; }

div img {
  width: 100%;
  height: 100%; }

.carousel__titulo {
  text-align: center;
  font-size: 26px;
  color: #00ccff; }

.neon {
  text-align: center;
  font-size: 38px;
  color: #5bffc8; }

/*GALERIA*/
.item {
  transition: 0.05s ease-in-out; }

.item:hover {
  filter: brightness(80%); }

/*MENU*/
.menu {
  display: table; }

.menu__nav {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.menu__ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.menu__li {
  display: inline-block;
  padding: 0 10px; }

.menu__li--efectos {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 8px 0px;
  text-decoration: none;
  color: #050205; }

.menu__li--efectos:hover {
  color: #000000;
  text-decoration: none; }

.menu__li--efectos:before,
.menu__li--efectos:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #000000; }

.menu__li--efectos:before {
  left: 0; }

.menu__li--efectos:after {
  right: 0;
  background: #000000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }

.menu__li--efectos:hover:before {
  background: rgba(0, 0, 0, 0.993);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.menu__li--efectos:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s; }

/*LINEA DE TIEMPO*/
.about-section {
  background: url(img/great50.jpg);
  background-size: 55%;
  background-color: #04f7ff;
  overflow: hidden;
  padding: 100px 0; }

.inner-container {
  width: 55%;
  float: right;
  background-color: #ffffff;
  padding: 150px; }
  .inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: center; }

.text {
  font-size: 18px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px; }

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px; }

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px; } }

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px; }
  .inner-container {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0; }
  .inner-container {
    padding: 60px; } }
