$tamanos: 26px;
$alinear: center;

div {
    p {
        text-align: $alinear;
        padding: 17px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.carousel__titulo {
    text-align: $alinear;
    font-size: ($tamanos+26)/2;
    color: rgb(0, 204, 255);
}
.neon {
    text-align: center;
    font-size: 38px;
    color: rgb(91, 255, 200);
    
}
