$texto1: center;
$black: #000000;
$tamanoz: 4px/2;


.menu{
    display:table;
}

.menu__nav{
    display:table-cell;
    vertical-align:middle;
    text-align: $texto1;
}

.menu__ul{
    list-style: none;
    margin:0;
    padding:0;
}
.menu__li{
    display:inline-block;
    padding:0 10px;
}
.menu__li--efectos{
    position:relative;
    display:block;
    cursor: pointer;
    padding:8px 0px;
    text-decoration: none;
    color:rgb(5, 2, 5);
}
.menu__li--efectos:hover{
    color:$black;
    text-decoration: none;
}
.menu__li--efectos:before,

.menu__li--efectos:after{
    content:'';
    position:absolute;
    width:0%;
    height:$tamanoz;
    bottom:-2px;
    background:$black;

}
.menu__li--efectos:before{
    left:0;
}
.menu__li--efectos:after{
    right:0;
    background:$black;
    transition:width 0.8s cubic-bezier(0.22,0.61,0.36,1);
}
.menu__li--efectos:hover:before{
    background:rgba(0, 0, 0, 0.993);
    width:100%;
    transition:width 0.5s cubic-bezier(0.22,0.61,0.36,1);
}
.menu__li--efectos:hover:after{
    background: transparent;
    width:100%;
    transition:0s;
}
