$tamano: 48px/2;
$alineacion: center;
$parrafot: 18px;
$margen: 2px;



.texto__tamano {
    margin-top: 2px;
    padding: $tamano;
    text-align: $alineacion; 
    font-size: $parrafot;
}
.neon {
    text-align: center;
    color: #02f8f8;
    font-size: 34px;
}

.parrafo{
    .parrafo__encabezado{
        text-align: $alineacion
    }
    .parrafo__tamano{
        font-size: $parrafot;
    }
}



/*GALERIA BOOTSTRAP*/
@import "galeriabootstrap";
/*FOOTER*/
@import "footer";
/*CAROUSEL*/
@import "carousel";
/*GALERIA*/
@import "galeria";
/*MENU*/
@import "menu";
/*LINEA DE TIEMPO*/
@import "lineadetiempo";
